*{
  margin: 0px;
  border: 0px;
}
.App {
  text-align: center;
  background-image: url("../src/images/emile-perron-xrVDYZRGdw4-unsplash\ \(1\).jpg");
   position: fixed;
   min-width: 100%;
   min-height: 100%;
   background-size: cover;
   background-position: center;
}
h1{
  height: 7rem;
  color: black;
  margin-top: 32px;
  
}


