*{
  margin: 0px;
  border: 0px;
}
.App {
  /* text-align: center; */
  background-image: url("../src/images/emile-perron-xrVDYZRGdw4-unsplash\ \(1\).jpg");
   position: fixed;
   min-width: 100%;
   min-height: 100%;
   background-size: cover;
   background-position: center;
}
.reach{
  color: white;
  bottom: 15rem;
  margin-left: 3.5rem;
  position: fixed;
  font-size: 2rem;
  

}
/* h1{
  height: 7rem;
  color: rgb(0, 0, 0);
  margin-top: 32px;
  font-weight: 600;
  text-align: center;
  font-size: 5rem;
  
} */
@media screen and (max-width:400px) {
  .App{
    position: fixed;
   min-width: 100%;
   min-height: 100%;
   background-size: cover;
   background-position: center;
  }
  .reach {
    color: white;
    bottom: 15rem;
    margin-left: 3.5rem;
    position: fixed;
    font-size: 1.3rem;
    margin-top: 4rem;
}
}


